* {
  margin: 0px;
  padding: 0px;
}

body {
  font-size: 120%;
  background-image: url(images/Malacca.jpg);
}

.header {
  width: 30%;
  margin: 50px auto 0px;
  color: white;
  background: #5f9ea0;
  text-align: center;
  border: 1px solid #b0c4de;
  border-bottom: none;
  border-radius: 10px 10px 0px 0px;
  padding: 20px;
}

.form {
  margin: 50px auto;
  width: 300px;
  padding: 30px 25px;
  background: peachpuff;
  border-radius: 30px;
}

form,
.content {
  width: 30%;
  margin: 0px auto;
  padding: 20px;
  border: 1px solid #b0c4de;
  background: white;
  border-radius: 0px 0px 10px 10px;
}
.input-group {
  margin: 10px 0px 10px 0px;
}
.input-group label {
  display: block;
  text-align: left;
  margin: 3px;
}
.input-group input {
  height: 30px;
  width: 93%;
  padding: 5px 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid gray;
}

h1.login-title {
  color: #666;
  margin: 0px auto 25px;
  font-size: 25px;
  font-weight: 300;
  text-align: center;
}
.login-input {
  font-size: 15px;
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 25px;
  height: 25px;
  width: calc(100% - 23px);
}
.login-input:focus {
  border-color: #6e8095;
  outline: none;
}
.login-button {
  color: #fff;
  background: brown;
  border: 0;
  outline: 0;
  width: 100%;
  height: 50px;
  font-size: 16px;
  text-align: center;
  cursor: pointer;
}
.link {
  color: rosybrown;
  font-size: 15px;
  text-align: center;
  margin-bottom: 0px;
}
.link a {
  color: rosybrown;
}

h3 {
  font-weight: normal;
  text-align: center;
}

.errors {
  width: 92%;
  margin: 0px auto;
  padding: 10px;
  border: 1px solid #a94442;
  color: #a94442;
  background: #f2dede;
  border-radius: 5px;
  text-align: left;
}

.success {
  color: #3c763d;
  border: 1px solid #3c763d;
  margin-bottom: 20px;
}
